<!DOCTYPE html>
<html class="has-navbar-fixed-top has-navbar-fixed-bottom">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Error</title>
    <link rel="stylesheet" href="/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
  </head>

  <body>
    <nav
      class="navbar is-light is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <svg
          width="185"
          height="23"
          viewBox="0 0 371 47"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.75 1.46875C23.75 1.46875 23.7604 1.46875 23.7812 1.46875C19.4896 10.1354 17.1458 14.875 16.75 15.6875C12.6042 24.0625 10.4167 28.4792 10.1875 28.9375L5.1875 39.0312C5.04167 38.8438 4.34375 37.7604 3.09375 35.7812C1.03125 32.1562 0 28.3854 0 24.4688V24.1875C0 20.4375 0.947917 16.8229 2.84375 13.3438C5.36458 8.84375 9.02083 5.54167 13.8125 3.4375C14.5833 3.125 15.4479 2.82292 16.4062 2.53125C17.1146 2.32292 18 2.125 19.0625 1.9375C19.7917 1.8125 21.3542 1.65625 23.75 1.46875ZM28.4688 2.3125C30.7604 3.04167 32.5729 3.80208 33.9062 4.59375C34.7812 5.07292 35.75 5.71875 36.8125 6.53125C37.3542 6.94792 38.1458 7.66667 39.1875 8.6875C40.2708 9.89583 41.0729 10.8958 41.5938 11.6875C42.4271 12.9792 43.0417 14.1042 43.4375 15.0625C43.75 15.75 44.0417 16.4896 44.3125 17.2812C42.4792 17.8854 41.3958 18.2396 41.0625 18.3438C40.7083 17.3438 40.3021 16.375 39.8438 15.4375C39.2604 14.3333 38.4583 13.1458 37.4375 11.875C36.5208 10.8542 35.7292 10.0833 35.0625 9.5625C34.0417 8.72917 33.1771 8.11458 32.4688 7.71875C31.5938 7.21875 30.8333 6.84375 30.1875 6.59375C30.0417 6.88542 28.2917 10.4479 24.9375 17.2812C20.4792 26.2812 18.1875 30.9062 18.0625 31.1562L13.1875 41.0625C16.1875 42.7292 19.3646 43.5625 22.7188 43.5625C26.6354 43.5625 30.2812 42.4271 33.6562 40.1562C34.3438 39.6979 35.1979 38.9896 36.2188 38.0312C37.1354 37.0938 37.7917 36.3438 38.1875 35.7812C38.6875 35.1146 39.1562 34.3958 39.5938 33.625C40.0521 32.7917 40.4479 31.9271 40.7812 31.0312C40.7812 31.0104 40.7917 31 40.8125 31C41.0625 31.0833 42.125 31.4792 44 32.1875C43.6458 33.1667 43.2292 34.1042 42.75 35C42.1458 36.1667 41.3125 37.4167 40.25 38.75C39.7917 39.2708 39.2188 39.8854 38.5312 40.5938C37.3646 41.6562 36.4583 42.4062 35.8125 42.8438C34.9583 43.4271 34.1458 43.9167 33.375 44.3125C29.9792 46.1042 26.4688 47 22.8438 47H22.5625C18.9375 47 15.4271 46.1146 12.0312 44.3438C11.2396 43.9271 10.1458 43.2396 8.75 42.2812C10.6042 38.5312 13.0521 33.5729 16.0938 27.4062C20.5521 18.3646 22.8438 13.7292 22.9688 13.5C26.4062 6.52083 28.2396 2.79167 28.4688 2.3125ZM3.4375 24.3125C3.4375 26.8542 3.9375 29.3438 4.9375 31.7812C5.1875 31.3229 6 29.6771 7.375 26.8438C7.64583 26.3438 9.84375 21.9167 13.9688 13.5625C16.4271 8.58333 17.7188 5.95833 17.8438 5.6875C16.7188 6 15.7292 6.34375 14.875 6.71875C10.4375 8.80208 7.19792 12.0312 5.15625 16.4062C4.01042 18.9688 3.4375 21.6042 3.4375 24.3125ZM73.875 1.875C73.875 1.89583 72.1979 5.28125 68.8438 12.0312C68.6771 12.3854 66.7292 16.3333 63 23.875C59.1458 31.6667 57.0208 35.9479 56.625 36.7188C56.1667 37.7188 55.7708 38.5104 55.4375 39.0938C54.1875 37.1562 53.3854 35.875 53.0312 35.25C51.2188 31.8542 50.3125 28.3229 50.3125 24.6562V24.4375C50.3125 20.3333 51.4167 16.4479 53.625 12.7812C54.1458 11.9062 54.8646 10.9271 55.7812 9.84375C56.4688 9.03125 57.2917 8.20833 58.25 7.375C60.625 5.41667 63.1771 4 65.9062 3.125C66.6979 2.85417 67.7396 2.60417 69.0312 2.375C69.6771 2.22917 71.2917 2.0625 73.875 1.875ZM78.5312 2.71875C80.6979 3.38542 82.4167 4.09375 83.6875 4.84375C84.4583 5.23958 85.3021 5.78125 86.2188 6.46875C86.8438 6.88542 87.5938 7.52083 88.4688 8.375C89.5729 9.47917 90.2917 10.2708 90.625 10.75C91.4792 11.8958 92.1042 12.8438 92.5 13.5938C93.0417 14.5312 93.5521 15.6667 94.0312 17C94.9062 19.4583 95.3438 21.9167 95.3438 24.375V24.6562C95.3438 28.4479 94.3646 32.0938 92.4062 35.5938C91.8854 36.5312 91.1771 37.5625 90.2812 38.6875C89.2188 39.9792 88.1042 41.0938 86.9375 42.0312C86.0625 42.7188 85.2917 43.2604 84.625 43.6562C80.9167 45.8854 77.0312 47 72.9688 47H72.6562C68.8646 47 65.2083 46.0312 61.6875 44.0938C61.0625 43.7188 60.1667 43.1354 59 42.3438V42.3125C59.6667 40.9583 61.9896 36.2396 65.9688 28.1562C70.5938 18.8021 72.9167 14.0938 72.9375 14.0312C73.25 13.4271 75.0625 9.75 78.375 3C78.4583 2.8125 78.5104 2.71875 78.5312 2.71875ZM53.7188 24.5V24.5625C53.7188 27.0625 54.2083 29.5208 55.1875 31.9375C55.3125 31.7292 57.4792 27.375 61.6875 18.875C65.4792 11.1875 67.5833 6.92708 68 6.09375V6.0625C67.2708 6.25 66.5521 6.47917 65.8438 6.75C61.5312 8.52083 58.2396 11.4583 55.9688 15.5625C54.4688 18.4167 53.7188 21.3958 53.7188 24.5ZM80.25 6.9375C76.75 14.0208 73.9375 19.7188 71.8125 24.0312C67 33.8021 64.4271 39.0208 64.0938 39.6875L63.375 41.125C63.8542 41.3958 64.5 41.7188 65.3125 42.0938C67.7708 43.0938 70.1979 43.5938 72.5938 43.5938H73.0938C75.7812 43.5938 78.4896 42.9479 81.2188 41.6562C82.1979 41.1771 83.25 40.5312 84.375 39.7188C84.9375 39.2812 85.5312 38.7604 86.1562 38.1562C86.9688 37.3438 87.5417 36.7188 87.875 36.2812C88.6667 35.2188 89.2396 34.3438 89.5938 33.6562C91.1562 30.8021 91.9375 27.7708 91.9375 24.5625V24.4688C91.9375 20.4896 90.7396 16.7917 88.3438 13.375C87.9271 12.7708 87.3125 12.0417 86.5 11.1875C85.6042 10.2917 84.875 9.65625 84.3125 9.28125C83.2708 8.51042 82.2812 7.89583 81.3438 7.4375C80.8229 7.1875 80.4583 7.02083 80.25 6.9375ZM120.75 0.9375H120.781C120.927 1.20833 121.958 3.3125 123.875 7.25C126.5 12.6042 127.833 15.3333 127.875 15.4375H127.906L133.188 4.59375C134.271 2.38542 134.875 1.16667 135 0.9375H135.031L141.312 13.8125C147.333 26.125 150.375 32.3646 150.438 32.5312C150.646 32.9062 153.01 37.7188 157.531 46.9688L157.5 47H98.2812L98.25 46.9688C104.042 35.1354 107.062 28.9688 107.312 28.4688C107.312 28.4479 110 22.9479 115.375 11.9688C118.833 4.88542 120.625 1.20833 120.75 0.9375ZM103.562 43.6875H114.094L121.531 28.4688C124.302 22.8229 125.802 19.75 126.031 19.25L120.781 8.5C120.552 8.9375 118.083 13.9896 113.375 23.6562C107.729 35.1771 104.781 41.1979 104.531 41.7188L103.562 43.6875ZM135 8.5C131.521 15.6042 129.771 19.1875 129.75 19.25C135.292 30.6042 138.177 36.5 138.406 36.9375L141.688 43.6875H152.219C146.26 31.5 143.156 25.1667 142.906 24.6875C142.906 24.6667 142.354 23.5208 141.25 21.25C137.292 13.1667 135.208 8.91667 135 8.5ZM127.875 23.0312C127.833 23.1562 125.271 28.4167 120.188 38.8125C118.729 41.7708 117.938 43.3958 117.812 43.6875H137.969V43.6562L128.688 24.6875C128.167 23.625 127.906 23.0729 127.906 23.0312H127.875ZM165.031 1.9375H178.562C178.583 1.9375 178.594 1.94792 178.594 1.96875V5.3125C178.594 5.33333 178.583 5.34375 178.562 5.34375H173.5V22.4375H178.562C178.583 22.4375 178.594 22.4479 178.594 22.4688V25.8438C178.594 25.8438 178.583 25.8438 178.562 25.8438H173.5V43.5938H178.562C178.583 43.5938 178.594 43.6042 178.594 43.625V46.9688C178.594 46.9896 178.583 47 178.562 47H165.031C165.01 47 165 46.9896 165 46.9688V43.625C165 43.6042 165.01 43.5938 165.031 43.5938H170.094V25.8438H165.031C165.01 25.8438 165 25.8438 165 25.8438V22.4688C165 22.4479 165.01 22.4375 165.031 22.4375H170.094V5.34375H165.031C165.01 5.34375 165 5.33333 165 5.3125V1.96875C165 1.94792 165.01 1.9375 165.031 1.9375ZM209.312 1.46875C209.312 1.46875 209.323 1.46875 209.344 1.46875C205.052 10.1354 202.708 14.875 202.312 15.6875C198.167 24.0625 195.979 28.4792 195.75 28.9375L190.75 39.0312C190.604 38.8438 189.906 37.7604 188.656 35.7812C186.594 32.1562 185.562 28.3854 185.562 24.4688V24.1875C185.562 20.4375 186.51 16.8229 188.406 13.3438C190.927 8.84375 194.583 5.54167 199.375 3.4375C200.146 3.125 201.01 2.82292 201.969 2.53125C202.677 2.32292 203.562 2.125 204.625 1.9375C205.354 1.8125 206.917 1.65625 209.312 1.46875ZM214.031 2.3125C216.323 3.04167 218.135 3.80208 219.469 4.59375C220.344 5.07292 221.312 5.71875 222.375 6.53125C222.917 6.94792 223.708 7.66667 224.75 8.6875C225.833 9.89583 226.635 10.8958 227.156 11.6875C227.99 12.9792 228.604 14.1042 229 15.0625C229.312 15.75 229.604 16.4896 229.875 17.2812C228.042 17.8854 226.958 18.2396 226.625 18.3438C226.271 17.3438 225.865 16.375 225.406 15.4375C224.823 14.3333 224.021 13.1458 223 11.875C222.083 10.8542 221.292 10.0833 220.625 9.5625C219.604 8.72917 218.74 8.11458 218.031 7.71875C217.156 7.21875 216.396 6.84375 215.75 6.59375C215.604 6.88542 213.854 10.4479 210.5 17.2812C206.042 26.2812 203.75 30.9062 203.625 31.1562L198.75 41.0625C201.75 42.7292 204.927 43.5625 208.281 43.5625C212.198 43.5625 215.844 42.4271 219.219 40.1562C219.906 39.6979 220.76 38.9896 221.781 38.0312C222.698 37.0938 223.354 36.3438 223.75 35.7812C224.25 35.1146 224.719 34.3958 225.156 33.625C225.615 32.7917 226.01 31.9271 226.344 31.0312C226.344 31.0104 226.354 31 226.375 31C226.625 31.0833 227.688 31.4792 229.562 32.1875C229.208 33.1667 228.792 34.1042 228.312 35C227.708 36.1667 226.875 37.4167 225.812 38.75C225.354 39.2708 224.781 39.8854 224.094 40.5938C222.927 41.6562 222.021 42.4062 221.375 42.8438C220.521 43.4271 219.708 43.9167 218.938 44.3125C215.542 46.1042 212.031 47 208.406 47H208.125C204.5 47 200.99 46.1146 197.594 44.3438C196.802 43.9271 195.708 43.2396 194.312 42.2812C196.167 38.5312 198.615 33.5729 201.656 27.4062C206.115 18.3646 208.406 13.7292 208.531 13.5C211.969 6.52083 213.802 2.79167 214.031 2.3125ZM189 24.3125C189 26.8542 189.5 29.3438 190.5 31.7812C190.75 31.3229 191.562 29.6771 192.938 26.8438C193.208 26.3438 195.406 21.9167 199.531 13.5625C201.99 8.58333 203.281 5.95833 203.406 5.6875C202.281 6 201.292 6.34375 200.438 6.71875C196 8.80208 192.76 12.0312 190.719 16.4062C189.573 18.9688 189 21.6042 189 24.3125ZM235.906 1.6875H239.281C239.302 1.6875 239.312 1.69792 239.312 1.71875V14.7188C239.312 14.7188 243.365 16.5521 251.469 20.2188L254.688 21.6875C264.021 17.4583 268.812 15.2917 269.062 15.1875L270.062 14.7188V1.71875C270.062 1.69792 270.073 1.6875 270.094 1.6875H273.469C273.49 1.6875 273.5 1.69792 273.5 1.71875V16.9062C273.417 16.9688 271.708 17.75 268.375 19.25L255.594 25.0312C255.052 25.2812 254.75 25.4167 254.688 25.4375C245.542 21.2917 240.896 19.1875 240.75 19.125L235.875 16.9375V1.71875C235.875 1.69792 235.885 1.6875 235.906 1.6875ZM235.906 21.3125C245.073 25.0625 249.698 26.9583 249.781 27C249.885 27.0417 251.521 27.7083 254.688 29C264.146 25.125 269.073 23.1146 269.469 22.9688C269.49 22.9479 270.833 22.3958 273.5 21.3125V21.3438V46.9688C273.5 46.9896 273.49 47 273.469 47H270.094C270.073 47 270.062 46.9896 270.062 46.9688V26.4062C260.854 30.1562 256.24 32.0417 256.219 32.0625C256.052 32.125 255.542 32.3333 254.688 32.6875C246.125 29.2083 241.646 27.375 241.25 27.1875C241.229 27.1875 240.583 26.9271 239.312 26.4062V46.9688C239.312 46.9896 239.302 47 239.281 47H235.906C235.885 47 235.875 46.9896 235.875 46.9688V21.3438C235.875 21.3229 235.885 21.3125 235.906 21.3125ZM304.562 1.25H304.594C304.594 1.29167 306.458 5.11458 310.188 12.7188C314.292 21.1146 316.385 25.3958 316.469 25.5625C316.594 25.7917 318.615 29.9375 322.531 38L326.938 47H309.375C309.354 47 309.167 46.625 308.812 45.875C308.688 45.6458 306.583 41.3542 302.5 33C298.542 24.8958 296.375 20.4583 296 19.6875C295.979 19.6458 295.896 19.4896 295.75 19.2188C300.042 10.4688 302.281 5.89583 302.469 5.5C302.469 5.5 302.969 4.47917 303.969 2.4375C304.365 1.66667 304.562 1.27083 304.562 1.25ZM304.562 8.75C304.438 9 302.729 12.4896 299.438 19.2188C304.083 28.7188 306.448 33.5625 306.531 33.75L311.375 43.625C311.396 43.6875 311.417 43.7188 311.438 43.7188H321.656V43.6875C317.073 34.3125 314.688 29.4271 314.5 29.0312C310.375 20.6146 308.208 16.1979 308 15.7812L304.562 8.75ZM293.25 24.4062L298.406 34.9062C298.615 35.3229 300.583 39.3542 304.312 47H304.281H282.219H282.188C286.292 38.5833 288.417 34.2396 288.562 33.9688L293.062 24.75C293.167 24.5208 293.229 24.4062 293.25 24.4062ZM293.25 31.9062L287.625 43.4375C287.604 43.4583 287.552 43.5521 287.469 43.7188H299.031C295.198 35.8854 293.271 31.9479 293.25 31.9062ZM330.344 1.90625H342.125C344.5 1.90625 346.76 2.63542 348.906 4.09375C349.365 4.38542 349.938 4.875 350.625 5.5625C351.271 6.22917 351.708 6.75 351.938 7.125C352.417 7.85417 352.812 8.59375 353.125 9.34375C353.729 10.8438 354.031 12.3125 354.031 13.75V14.125C354.031 16.2708 353.406 18.375 352.156 20.4375C351.844 20.9375 351.406 21.5 350.844 22.125C350.094 22.875 349.583 23.3438 349.312 23.5312C348.958 23.8021 348.521 24.1042 348 24.4375C353.917 30.4167 357.052 33.5938 357.406 33.9688C357.719 34.2812 360.594 37.1979 366.031 42.7188L370.219 47H365.5C358.75 40.1667 354.875 36.2396 353.875 35.2188C348.021 29.2812 345.01 26.2292 344.844 26.0625H333.719V46.9688C333.719 46.9896 333.708 47 333.688 47H330.344C330.323 47 330.312 46.9896 330.312 46.9688V1.9375C330.312 1.91667 330.323 1.90625 330.344 1.90625ZM333.719 5.3125V22.6562H341.812C344.208 22.6562 346.281 21.8229 348.031 20.1562C348.635 19.5104 349.052 18.9896 349.281 18.5938C350.198 17.1562 350.656 15.6042 350.656 13.9375C350.656 11.9167 349.979 10.0729 348.625 8.40625C348.021 7.73958 347.583 7.3125 347.312 7.125C345.708 5.91667 343.927 5.3125 341.969 5.3125H333.719Z"
            fill="black"
          />
        </svg>
          </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="burgerIcon"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="burgerIcon" class="navbar-menu">
        <div class="navbar-start">
          <a href="/home" class="navbar-item">
            <i class="fas fa-home"></i>&nbsp;Home
          </a>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <div class="columns is-desktop">
        <div class="column">
            <figure class="image is-3by1">
            <img src="/img/not_found.svg">        
          </figure>
        </div>
        </div>

        <div class="columns is-desktop">
          <div class="column is-half">
            <h1 class="title">Try Searching again</h1>
            
            <h3>
              Certain characters need "-" between name.
              <strong>Eg: Spider-man</strong>
            </h3>
          </div>
          <div class="column">
            <div class="card-content">
              <form action="/search" method="POST">
                <div class="field is-grouped">
                  <p class="control has-icons-left has-icons-right is-expanded">
                    <input
                      class="input"
                      type="text"
                      name="searchKey"
                      placeholder="Search"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-search"></i>
                    </span>
                  </p>

                  <p class="control">
                    <button type="submit" class="button is-link is-outlined">
                      Search
                    </button>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <nav
      class="navbar is-light is-fixed-bottom"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand navbar-end">
        <a href="https://bulma.io">
          <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="60">
          </a>
      </div>
    </nav>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>

    <script defer type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script>
      $(document).ready(function() {
        $(".owl-carousel").owlCarousel({
          loop: true,
          margin: 10,
          responsiveClass: true,

          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            },
            1000: {
              items: 5,

              loop: false
            }
          }
        });
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach(el => {
            el.addEventListener("click", () => {
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }
      });
    </script>
  </body>
</html>
